[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Django = "*"
gunicorn = "*"
djangorestframework = "*"
djangorestframework_simplejwt = "*"
django.views.generic = "View"
django.http = "HttpResponse"


[requires]
# our Dockerfile is based on Python 3.6
python_version = "3.6"
